/* CSS 스타일을 작성해 주세요. */

body {
  width: 80rem;
  height: 17.375rem;

  .about-container {
    display: flex;
    width: 72rem;
    height: 9.375rem;
  }

  .company,
  .news {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 34.875rem;
    height: 9.375rem;

    span {
      font-size: 21px;
      font-weight: 500;
      width: 74px;
      height: 32px;
      color: #0075ff;
    }

    p {
      font-size: 16px;
      font-weight: 400;
    }

    a:link,
    a:visited {
      color: black;
      font-weight: bold;
    }
  }
}
