/* CSS 스타일을 작성해 주세요. */

.container {
  font-size: 18px;

  .question {
    position: relative;
    inline-size: 100%;
    padding: 16px;
    margin-inline: 4px;
    border-bottom: 1px solid #d9d9d9;
    box-sizing: border-box; /* 박스 모델 명확화 */

    span {
      font-weight: bold;
      display: block;
      max-width: calc(100% - 24px); /* svg 영역을 만들기 위해 calc 사용 */
      overflow-wrap: break-word; /* 긴 단어 강제 줄바꿈 */
    }
    /* input checkbox */
    .checkbox {
      position: absolute;
      top: 16px; /* padding 값과 동일 */
      right: 16px; /* 오른쪽 끝에서 16px */
      width: 24px; /* SVG 크기 고정 */
      height: 24px; /* SVG 크기 고정 */
      z-index: 10; /* 다른 요소 위에 배치 */

      /* 기본으로 제공해주는 체크 박스는 안보이게 처리 */
      input {
        display: none;
      }

      label {
        /* 마우스 커서를 아이콘에 갖다대면 누를 수 있는 커서로 변경 */
        cursor: pointer;
        width: 24px;
        height: 24px;

        /* 아이콘을 누르기 전에는 + 아이콘을 누르면 - 아이콘을 노출 */
        .plus-icon {
          display: block;
        }

        .minus-icon {
          display: none;
        }
      }

      input:checked + label {
        .plus-icon {
          display: none;
        }

        .minus-icon {
          display: block;
        }
      }
    }

    /* input이 체크되기 전에는 질문에 대한 답변 div를 출력하지 않도록 설정 */
    .answer {
      display: none;
      border-bottom: 1px solid #9e9e9e;
      padding: 16px 0;

      p {
        font-size: 16px;
      }
    }

    /* :has 선택자: 관계형 의사 클래스
    부모 요소가 특정 하위 요소를 가지고 있을 경우 사용하는 선택자 
    input이 체크되면 답변 div를 출력 */
    &:has(input:checked) .answer {
      display: block;
    }
  }
}
